name: Release

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.merged == true && startsWith(github.event.pull_request.head.ref, 'release-v') }}

    permissions:
      id-token: write # Required for OIDC (used for npm publish with Trusted publishing)
      packages: write
      contents: write

    env:
      GH_TOKEN: ${{ github.token }}
      REF_BRANCH: ${{ github.event.pull_request.head.ref }}
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Typecheck
        run: pnpm typecheck

      - name: Lint
        run: pnpm lint

      - name: Run tests
        run: pnpm test

      - name: Check licenses
        run: pnpm license-check

      - name: Pack
        run: pnpm build

      - name: Publish
        env:
          NPM_CONFIG_PROVENANCE: true
        run: |
          pnpm publish --no-git-checks --recursive --access public --registry https://registry.npmjs.org

      - name: Publish on GitHub
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "//npm.pkg.github.com/:_authToken=$NODE_AUTH_TOKEN" > ~/.npmrc
          echo "always-auth=true" >> ~/.npmrc
          pnpm publish --no-git-checks --recursive --access restricted --registry https://npm.pkg.github.com

      - name: Create GitHub release
        run: pnpm tsx scripts/release/createRelease.ts
