name: Release

# on:
#   pull_request:
#     branches: [main]
#     types: [closed]

on:
  push:
    branches:
      - "*"

permissions:
  id-token: write # Required for OIDC (used for npm publish with Trusted publishing)
  packages: write
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    # permissions:
    #   packages: write
    #   contents: write

    env:
      GH_TOKEN: ${{ github.token }}
      REF_BRANCH: ${{ github.event.pull_request.head.ref }}
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Typecheck
        run: pnpm typecheck

      - name: Lint
        run: pnpm lint

      - name: Run tests
        run: pnpm test

      - name: Check licenses
        run: pnpm license-check

      - name: Pack
        run: pnpm build

      - name: Publish
        env:
          NPM_CONFIG_PROVENANCE: true
        run: |
          pnpm publish --no-git-checks --recursive --access public --registry https://registry.npmjs.org --loglevel verbose

      - name: Publish on GitHub
        env:
          NPM_CONFIG_PROVENANCE: false
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "//npm.pkg.github.com/:_authToken=$NODE_AUTH_TOKEN" > ~/.npmrc
          echo "always-auth=true" >> ~/.npmrc
          pnpm publish --no-git-checks --recursive --access restricted --registry https://npm.pkg.github.com

      - name: Create GitHub release
        run: pnpm tsx scripts/release/createRelease.ts
